/* css/estilos.css */
/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*esta regla elimina los márgenes y el relleno predeterminados de todos los elementos y
establece el modelo de caja para incluir el relleno y el borde en el ancho y alto del
elemento*/
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0576d4;
} /* esta regla define la fuente y el color del texto en el cuerpo del documento */
h1 {
    color: #1f4e79;
    font-size: 32px;
    text-align: center;
}

/*Aplicar Estilos a Clases*/
.destacado {
    background-color: #fff3cd;
    padding: 10px; /*aplica como las manillas del reloj: arriba - derecha - abajo - izquierda */
}

/* Aplicar estilos a identificadores o IDs */
#inicio {
    background-color: #1f4e79;
    padding: 30px;
}

/* estilos solo a enlaces dentro del nav */
nav a {
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s;  /*cambio suave al pasar el mouse*/
}
/*Pseudo-clase :hover*/
nav a:hover {
    color: #f8cbad; /*al pasar el cursor del mouse*/
}

/*Pseudo-clase :nth-child: filas cebra en la tabla*/
tbody tr:nth-child(even) {
    background-color: #e0d8d8;
}
/*Pseudo-elemento ::first-lettery ::selection*/
article p::first-letter {
    font-size: 32px;
    font-weight: bold;
    color: #c55a11;
}

::selection{
    background-color: #1f4e79;
    color: white;
}

/*Agregar familia de fuentes traida de google fonts*/
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 1.6;
}